    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Carrera</th>
              <th>Nombre</th>
              <th>Estudiantes</th>
              <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of carrerasArray">
              <td>{{ item.codigo }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{ item.porcentaje }}%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td><strong>{{ totalEstudiantes }}</strong></td>
              <td>100%</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>